.singleContact {
  width: 100vw;
  background-color: white;
}

.contactContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  padding: 20px;
  background-color: #1c1e22bb;
  border-radius: 30px;
  opacity: 0.8;
}

.contactInput {
  margin-top: 15px;
  margin-bottom: 10px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.contactOption {
  display: flex;
}
.contactOption > select {
  border-radius: 10px;
  height: 30px;
  width: 50%;
}

.contactButtons{
  margin-top: 30px;
}

.contactSubmit{
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(126, 165, 250);
  cursor: pointer;
}

.contactSubmit:hover{
  opacity: 0.6;
}

.contactReset{
  margin-bottom: 10px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  background-color: #ffffff;
  cursor: pointer;
}
.contactReset:hover{
  background-color: gray;
}